body {
    font-family: 'Open Sans', sans-serif; /* Use Open Sans for the body */
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.7;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif; /* Use Montserrat for headings */
    font-weight: bold; /* Keep the bold weight for headings */
    color: #2c3e50; /* Keep your existing heading color for now */
}

.hero {
    background-color: #2c3e50; /* Fallback color */
    background-image: url('images/image-01.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    min-height: 100vh; /* Set minimum height to viewport height */
    display: flex; /* Use flexbox to center content vertically */
    flex-direction: column;
    justify-content: center; /* Vertically center content */
    padding: 20px; /* Adjust padding as needed */
}

.hero-content {
    max-width: 960px;
    margin: 0 auto;
    text-align: center; /* Ensure hero content is centered */
}

.hero h1 {
    font-size: 3.0em;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero p {
    font-size: 1.3em;
    margin-bottom: 40px;
    color: #eee; /* Slightly lighter than white but more readable */
}

.section {
    padding: 80px 20px; /* Increased top and bottom padding */
    background-color: #f9f9f9; /* Very light gray background for sections */
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* Center the text within the section */
}

.section:last-child {
    border-bottom: none; /* Remove border from the last section */
}

.section h2 {
    color: #2c3e50; /* Dark grayish blue for section titles */
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 2.2em;
    text-align: center;
    font-weight: bold;
}

.section p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.section ul {
    list-style: none;
    padding-left: 0;
}

.section ul li {
    padding-left: 20px;
    margin-bottom: 10px;
    position: relative;
}

.section ul li:before {
    content: "•"; /* Use a bullet point */
    color: #a7bdd7; /* A softer blue accent color */
    position: absolute;
    left: 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 0.9em;
    border-top: 1px solid #555; /* Add a light border at the top */
}