body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hero {
    background-color: #f0f0f0; /* Light background */
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.waitlist {
    background-color: #e6f7ff; /* Light blue background */
    padding: 50px 0;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
}

/* Brevo Iframe Styling */
.form-container iframe {
    width: 100%; /* Ensure the iframe fills the container's width */
    max-width: 100%; /* Prevent the iframe from exceeding the container's width */
    border: none; /* Remove any default iframe border */
    margin: 0 auto; /* Center the iframe horizontally */
    display: block; /* Make the iframe a block-level element */
}

#subscription-form {
    display: flex;
    flex-direction: column;
}

#subscription-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

#subscription-form button {
    padding: 10px 20px;
    background-color: #007bff; /* Blue button */
    color: white;
    border: none;
    cursor: pointer;
}

.about-us {
    padding: 50px 0;
}

.about-us h2 {
    margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}
